body{
  background-color: #D3D3D3;

}

#container{
  margin-left: 10%;
  margin-top: 5%;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 50px 200px;
  grid-template: "reproductor videos"
                 "controles videos"
                 "nada videos";
}

#principal{
  display: grid;
  grid-area: reproductor;
  align-content: center;
  justify-content: center;
  margin-right: 5%;
  margin-top: 41%;

}

#controles{
  display: grid;
  grid-area: controles;
  grid-template-columns: repeat(7,70px);
  grid-template-rows: 50px;
  align-content: center;
  justify-content: center;
  grid-gap: 50px;
  margin-right: 5%;
  margin-top: 1%;
}

#videos{
  display: grid;
  grid-area: videos;
  grid-gap: 20px;
}

button{
  border: none;
  background-repeat: no-repeat;
  background-color: #D3D3D3 ;
}

#mute{
  background-image: url("../media/mute.png");
  background-size: contain;

}
#pause{
  background-image: url("../media/pausa.png");
  background-size: contain;
}


#play{
  background-image: url("../media/jugar.png");
  background-size: contain;
}

#volumenM{
  background-image: url("../media/volumenM.png");
  background-size: contain;
}

#volumenm{
  background-image: url("../media/volumenme.png");
  background-size: contain;
}

#reiniciar{
  background-image: url("../media/espalda.png");
  background-size: contain;
}

#rebobinar{
  background-image: url("../media/rebobinar.png");
  background-size: contain;
}

#adelantar{
  background-image: url("../media/adelante.png");
  background-size: contain;
}
