body{
    background-color: green;
}
#div1{
    grid-area: jugadores;

    width:100%;
    text-align: center;
}
#div1 div{
    display: inline-block;
}

#div2{
    grid-area: equipo1;
    width:70%;
    height: 450px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(./media/valencia.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#div3{
    grid-area: equipo2;

    width:70%;
    height: 450px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(./media/barcelona.png) center center;
    background-size: contain;
    background-repeat: no-repeat;

}
.jugador{
    width:10%;
    height: 220px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

#contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 500px);
    grid-template-areas: "equipo1 equipo2"
                        "jugadores jugadores";

}
